* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none
}

i.fontAwesome {
    color: #FF5274;
    font-size: 35px;
}

.section__h3 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #3D4351;
}

.section__p {
    font-size: 15px;
    color: grey;
    font-weight: 300;
    line-height: 2;
}

.btn {
    align-self: center;
    padding: 15px 92px;
    font-size: 13px;
    font-weight: 300;
    background-color: #FF5274;
    color: white;
    text-transform: uppercase;
    border: solid 2px #FF5274;
    border-radius: 40px;
}

@media (min-width: 460px) {

    .fontAwesome {
        padding: 10px 0 0 20px;
    }
}

/*START nav*/
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 0 15px 0 15px;
    background-color: transparent;
    z-index: 100;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation .navigation-container > a {
    display: inline-block;
    color: #4d5467;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navigation .changeColor {
    color: white;
}

.navigation-burger {
    font-size: 35px;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.navigation-burger i.show {
    display: none;
}

.navigation-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90vh;
    background-color: #282c37;
    transition: 0.2s ease-out;
    padding: 70px;
}

.navigation-content a {
    display: block;
    text-decoration: none;
    color: #FF5274;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    padding: 10px 0;
}

.navigation-content.show {
    top: -180vh;
}

.navigation.scroll {
    background-color: #282c37;
}

.navigation.scroll .navigation-container {
    border: none;
}

@media (min-width: 640px) {
    .navigation-content {
        padding: 10px;
    }

    .navigation-content a {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .navigation-burger {
        display: none;
    }

    .navigation-content {
        position: static;
        display: flex;
        align-items: center;
        height: 100%;
        background-color: transparent;
        padding: 0;
    }

    .navigation-content li {
        display: inline-block;
    }

    .navigation-content a {
        padding: 0 7px 0 2px;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
    }

    .navigation-content a:hover {
        color: #FF5274;
    }

    .navigation-content.show {
        top: 0;
    }
}

/*START header*/
.header {
    height: 90vh;
    min-height: 750px;
    background-image: linear-gradient(rgba(40, 44, 55, 0.92), rgba(40, 44, 55, 0.92)), url(img/team-418_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.header__wrap {
    display: flex;
    padding: 130px 15px 0 15px;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.header__wrap h1 {
    font-weight: 500;
    font-size: 50px;
}

.header__wrap p {
    font-weight: 300;
    font-size: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn-container .btn-first {
    margin-bottom: 20px;
}

.btn:hover {
    background-color: transparent;
    color: #FF5274;
}

@media (min-width: 460px) {
    .header__wrap {
        margin: 0 auto;
        width: 80%;
        height: 83%;
    }
}

@media (min-width: 641px) {
    .header__wrap p {
        font-size: 26px;
    }
}

@media (min-width: 800px) {
    .header__wrap {
        width: 70%;
        height: 80%;
    }

    .header__wrap p {
        font-size: 26px;
    }

    .btn-container {
        flex-direction: row;
        justify-content: center;
    }

    .btn {
        padding: 15px 50px;
    }

    .btn-container .btn-first {
        margin-bottom: 0;
        margin-right: 20px;
        padding-right: 54px;
        padding-left: 54px;
    }
}

/*START section.description*/
.description {
    display: flex;
    flex-direction: column;
    padding: 100px 15px 15px;
}

.description__wrap {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto 50px;
}

.description__insideWrap {
    flex-basis: 80%;
    padding-right: 15px;
}

@media (min-width: 1024px) {
    .description {
        display: flex;
        flex-direction: row;
        min-height: 400px;
    }
}

/*START section.features*/
.features {
    padding: 40px 15px;
    background-color: #f3f4f8;
}

.features__png {
    display: none;
}

.features__h2 {
    padding: 25px 5px;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: #3D4351;
}

.features__p {
    padding-bottom: 60px;
    color: grey;
    text-align: center;
    font-weight: 300;
    line-height: 2;
}

.features__wrap {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto 50px;
    border-bottom: solid 1px #E6E9EA;
    padding-bottom: 15px;
}

.features__wrap_inside {
    flex-basis: 80%;
    padding-right: 15px;
}

@media (min-width: 460px) {
    .features__wrap {
        padding-bottom: 25px;
    }
}

@media (min-width: 1024px) {
    .features {
        display: flex;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
    }

    .features__h2 {
        font-size: 28px;
    }

    .features__wrap:nth-last-child(1) {
        border: none;
    }

    .features__png {
        display: block;
        transform: translateX(-100vw);
        transition: 2s;
    }

    .features__png.active {
        transform: translateX(-52vw);
    }

    .png {
        position: absolute;
    }

    .png.tablet {
        top: 180px;
        left: -320px;
    }

    .png.phone {
        bottom: -150px;
        left: 220px;
    }

    .features__content {
        flex-basis: 45%;
        padding-top: 50px;
    }
}

/*START section.download*/
.download {
    position: relative;
    padding: 50px 15px 150px;
    background-color: rgb(54, 60, 72);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.download__h2 {
    padding: 28px 5px;
    font-size: 28px;
    font-weight: 500;
    color: white;
}

.download__p {
    font-weight: 300;
    line-height: 1.5;
    color: grey;
    padding-bottom: 40px;
}

.perspective__wrap {
    margin: 50px auto;
    width: 100px;
    height: 100px;
    perspective: 300px;
    position: absolute;
    left: calc(50% - 300px/2);
    top: 100%;
    transform: translate(100%, -100%);
}

.perspective__parent {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateSquare 6s linear infinite;
}

.perspective__child {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(255, 82, 116, 0.8), rgba(61, 67, 81, 0.8));
    box-shadow: 0 0 4px #3d4351;
    border-radius: 5px;
}

.perspective__i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    font-size: 46px;
    color: #3d4351;
}

/*obrót w lewo o 90 i 50px w perspektywie na osi z*/
.perspective__child.left {
    transform: rotateY(-90deg) translateZ(50px);
}

/*obrót w prawo o 90 i 50px w perspektywie na osi z*/
.perspective__child.right {
    transform: rotateY(90deg) translateZ(50px);
}

.perspective__child.top {
    transform: rotateX(-90deg) translateZ(50px);
}

.perspective__child.bottom {
    transform: rotateX(90deg) translateZ(50px);
}

.perspective__child.front {
    transform: translateZ(50px);
}

.perspective__child.back {
    transform: translateZ(-50px);
}

@keyframes rotateSquare {
    0% {
        transform: rotateX(0) rotateZ(0);
    }

    100% {
        transform: rotateX(360deg) rotateZ(360deg);
    }
}

/*START section.descriptionTwo*/
.descriptionTwo {
    background-color: #f3f4f8;
    padding: 0 15px 60px;
}

.descriptionTwo__h2 {
    padding: 120px 5px 60px;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: #3D4351;
}

.descriptionTwo__wrap {
    padding-bottom: 42px;
}

@media (min-width: 640px) {
    .descriptionTwo {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 1024px) {
    .descriptionTwo {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .description__wrapper {
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }

    .descriptionTwo__wrap:nth-of-type(1) {
        padding-right: 80px;
    }

    .descriptionTwo__wrap:nth-of-type(2) {
        padding-left: 80px;
    }
}

/*START section.portfolio*/
.portfolio {
    padding: 0 15px;
    background-color: #f3f4f8;
    text-align: center;
}

.portfolio__photo {
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio__photo.one {
    background-image: url(img/autumn-3846345_640.jpg);
}

.portfolio__photo.two {
    background-image: url(img/flower-3876195_640.jpg);
}

.portfolio__photo.three {
    background-image: url(img/frozen-3840163_640.jpg);
}

.portoflio__h4 {
    padding: 30px 0 15px;
    text-transform: uppercase;
    color: #FF5274;
}

.portoflio__p {
    padding-bottom: 20px;
    color: #3D4351;
}

@media (min-width: 640px) {
    .portfolio__photo {
        height: 100vh;
    }
}

@media (min-width: 1024px) {
    .portfolio {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .portoflio__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portoflio__wrapper_inside {
        flex-grow: 1;
    }

    .portfolio__photo {
        height: 350px;
        transition: 0.4s;
        background-color: rgb(40, 44, 55);
    }

    .portfolio__photo:hover {
        filter: grayscale(100%);
    }
}

/*START section.team*/
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: linear-gradient(rgba(40, 44, 55, 0.7), rgba(40, 44, 55, 0.92)), url(img/laptop-1209008_1280.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.team__wrapper {
    text-align: center;
}

.fa-circle {
    padding-bottom: 15px;
    color: white;
    font-size: 45px;
}

.team__p {
    padding-bottom: 15px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
}

.team__author {
    color: #FF5274;
    text-transform: uppercase;
    padding-bottom: 55px;
}

.fa-circle.small {
    font-size: 15px;
    color: grey;
}

.fa-circle.personOne:nth-child(1) {
    color: white;
}

.team__wrapper.personTwo {
    display: none;
}

.team__wrapper.personThree {
    display: none;
}

/*START section.contact*/
.contact {
    height: 200vh;
}
